@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for the admin dashboard */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: theme("colors.slate.800");
}
::-webkit-scrollbar-thumb {
  background: theme("colors.slate.600");
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.slate.500");
}
